@model StackOverflowing.Models.QuestionModel

@{
    ViewData["Title"] = "Details";
}


<h2>@Model.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <p>
            <strong>Question: </strong>
            @Html.DisplayFor(model => model.Body)
        </p>
            
        <span> 
            <strong>@Html.DisplayNameFor(model => model.PostDate)</strong> | 
            @Html.DisplayFor(model => model.PostDate)
            <strong>@Html.DisplayNameFor(model => model.VoteCount)</strong> | 
            @Html.DisplayFor(model => model.VoteCount)
        </span>
    </dl>
</div>
<section>
     <p>Viewing @Model.Answers.Count answers</p>
        @foreach(var answer in Model.Answers)
        {
            <p>@answer.Body</p>
        }
</section>
<div>
    <a asp-controller="Answer" asp-action="Create" asp-route-id="@Model.ID">Answer</a></span> | 
    <a asp-controller="Comment" asp-action="Create" asp-route-id="@Model.ID">Comment</a> | 
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
