@{
    ViewData["Title"] = "Home Page";
}
@model List<QuestionModel>

<br>
<br>
<section>
    <h4>Questions</h4>
    @foreach(var item in Model)
    {
        <ul list-style="none">
            <span>Votes: @item.VoteCount</span>
            <a href="/Question/Details/@item.ID">@item.Title</a>
            <span> Posted on: @item.PostDate | </span>
            <span><a asp-controller="Answer" asp-action="Create" asp-route-id="@item.ID">Answer</a></span> | 
            <span><a asp-controller="Comment" asp-action="Create" asp-route-id="@item.ID">Comment</a> </span>
        </ul>
    }
</section>